{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Main page - {% endblock %}
{% block content %}
    <div class="row">
        <h1>42 Coffee Cups Test Assignment</h1>
    </div>
    <div class="row">
        <form id="bio-form" action="{% url 'hello:edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_first_name">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="id_last_name">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="id_date_of_birth">{{ form.date_of_birth.label }}</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="form-group">
                    <label for="id_photo">{{ form.photo.label }}</label>
                    <input id="id_photo" name="photo" type="file">
                </div>
                <img id="photo-preview" width="200px" height="200px" src="{% if form.instance.photo %}{{ form.instance.photo.url }}{% endif %}" alt="Photo preview"/>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_email">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_jabber">{{ form.jabber.label }}</label>
                    {{ form.jabber }}
                </div>
                <div class="form-group">
                    <label for="id_skype">{{ form.skype.label }}</label>
                    {{ form.skype }}
                </div>
                <div class="form-group">
                    <label for="id_other_contacts">{{ form.other_contacts.label }}</label><br/>
                    {{ form.other_contacts }}
                </div>
                <div class="form-group">
                    <label for="id_bio">{{ form.bio.label }}</label><br/>
                    {{ form.bio }}
                </div>
            </div>
            <div id="bio-messages"></div>
            <button type="submit" class="btn btn-primary">Save</button>
            <img class="hidden" id="preloader" src="{% static 'preloader.gif' %}"/>
            <a href="{% url 'hello:main' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/edit.js' %}"></script>
    {{ form.media }}
{% endblock %}
