{% extends 'base.html' %}
{% load hello_tags %}
{% block title %}Main page - {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="col-md-2">
            <br/>
            {% if user.is_authenticated %}
                <a href="{% url 'hello:edit' %}">Edit</a> ({% edit_link user %})
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Name: {{ bio.first_name }}</p>

            <p>Last name: {{ bio.last_name }}</p>

            <p>Date of birth: {{ bio.date_of_birth }}</p>

            <p>Photo:</p>
            <img src="{% if bio.photo %}{{ bio.photo.url }}{% endif %}" alt="{{ bio.first_name }} photo"/>
        </div>
        <div class="col-md-6">
            <p>Contacts</p>

            <p>Email: {{ bio.email }}</p>

            <p>Jabber: {{ bio.jabber }}</p>

            <p>Skype: {{ bio.skype }}</p>

            <p>Other contacts:</p>

            <p>{{ bio.other_contacts|linebreaks }}</p>

            <p>Bio:</p>

            <p>{{ bio.bio|linebreaks }}</p>
        </div>
    </div>
{% endblock %}
